$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$base-font: normal 16px/1.5 #{$font-stack};
$base-color: #253858;
$base-rem: 16;

.popup-box {
  background: #fff;
    position: relative;
    padding: 14px 32px;
    top: 0;
    max-width: 870px;
    width: 100%;
    height: auto;
    bottom: 0;
    margin: auto;
    border-radius:10px;
    @media(max-width:768px)
    {
      width: 95%;
    }
}

.popup-head {
  --rem: $base-rem;
  font: $base-font;
  color: $base-color;
  padding: 0;
  list-style: none;
  margin: 0;
  outline: none;
  font-family: $font-stack;
  box-sizing: border-box;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.whatIsEmandate-link{
  cursor: pointer;
  text-decoration: none;
  :hov{
      padding-bottom: 0px;
      border-bottom: 1px solid rgba(0, 101, 255, 0.60);
  }
}

.popup-content {
  --rem: $base-rem;
  font: $base-font;
  color: $base-color;
  padding: 0;
  list-style: none;
  margin: 0;
  outline: none;
  font-family: $font-stack;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.popup-info-box {
  --rem: $base-rem;
  font: $base-font;
  color: $base-color;
  list-style: none;
  margin: 0;
  outline: none;
  font-family: $font-stack;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 4px 32px;
  justify-content: space-between;

  &:first-child {
    width: 50%;

    @media (max-width:768px) {
      width:100%;
      overflow-y:auto;
      height: 450px;
      padding:0;
    }
  }
  .popup-data{
    margin:auto;
  }

  
}
.img-block{
    width:50%;
    @media (max-width:768px) {
       display:none;
    }
  }


.info {
  --rem: $base-rem;
  font: $base-font;
  list-style: none;
  outline: none;
  font-family: $font-stack;
  box-sizing: border-box;
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 24px;
  color: $base-color;
  border: 0;
  text-align: left;
  padding: 0 12px 0 0;
}

.emandate-info {
  --rem: $base-rem;
  font: $base-font;
  color: $base-color;
  padding: 0;
  list-style: none;
  margin: 0;
  outline: none;
  font-family: $font-stack;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(90, 93, 96, 0.7);
  left: 0;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 99;
}
