@import "tailwindcss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .debit-card-tab .tabs-left.upi{
  background: url('../public/images/UPI.svg'); 
  background-repeat: no-repeat;
  background-position: 12px 12px;
}
.debit-card-tab .tabs-left.upi.Mui-selected{
  background: #fff url('../public/images/UPI-active.svg');
  background-position:12px 12px;
  background-repeat: no-repeat;
}

.debit-card-tab .tabs-left.credit-card{
  background: url('../public/images/credit-card.svg');
  background-repeat: no-repeat;
  background-position: 12px 12px;
}
.debit-card-tab .tabs-left.credit-card.Mui-selected{
  background:#fff  url('../public/images/credit-card-active.svg') no-repeat;
  background-position: 12px 12px;
}
.debit-card-tab .tabs-left.wallet{
  background: url('../public/images/wallet.svg');
  background-position:12px 12px;
  background-repeat: no-repeat;
}
.debit-card-tab .tabs-left.wallet.Mui-selected{
  background: #fff url('../public/images/wallet-active.svg');
  background-position:12px 12px;
  background-repeat: no-repeat;
}
.debit-card-tab .tabs-left.net-banking{
  background: url('../public/images/netbanking.svg');
  background-position: 12px 12px;
  background-repeat: no-repeat;
}
.debit-card-tab .tabs-left.net-banking.Mui-selected{
  background:#fff  url('../public/images/netbanking-active.svg');
  background-position:12px 12px;
  background-repeat: no-repeat;
}

.debit-card-tab .tabs-left.easy-emi{
  background: url('../public/images/easy-emi.svg');
  background-position: 12px 12px;
  background-repeat: no-repeat;
}
.debit-card-tab .tabs-left.easy-emi.Mui-selected{
  background:#fff  url('../public/images/easy-emi-active.svg');
  background-position:12px 12px;
  background-repeat: no-repeat;
} */

.card-details .card-detail-form .cvv-box input{
  background: url('../public/images/cvv_card.svg');
  background-position: 95% 20px;
  background-repeat: no-repeat;
}

/* .card-details .card-detail-form .debit-card input{
  background: url('../public/images/card.svg');
  background-position: 98% 10px;
  background-repeat: no-repeat;
  background-size: 32px;
} */
/* 
.card-details .card-detail-form .debit-card.visa input{
  background: url('../public/images/visa.svg');
  background-position: 98% 3px;
  background-repeat: no-repeat;
  background-size: 49px;
}

.card-details .card-detail-form .debit-card.mastercard input{
  background: url('../public/images/master_cvv.svg');
  background-position: 98% 10px;
  background-repeat: no-repeat;
  background-size: 32px;
}

.card-details .card-detail-form .debit-card.amex input{
  background: url('../public/images/amex.svg');
  background-position: 98% 7px;
  background-repeat: no-repeat;
  background-size: 35px;
}

.card-details .card-detail-form .debit-card.discover input{
  background: url('../public/images/discover.svg');
  background-position: 98% 10px;
  background-repeat: no-repeat;
  background-size: 33px;
}

.card-details .card-detail-form .debit-card.rupay input{
  background: url('../public/images/rupay.svg');
  background-position: 98% 13px;
  background-repeat: no-repeat;
  background-size: 45px;
}


.card-details .card-detail-form .debit-card.diners input{
  background: url('../public/images/diners.svg');
  background-position: 98% 12px;
  background-repeat: no-repeat;
  background-size: 55px;
} */


.debit-card-tab .tabs-left.pos{
  background: url('../public/images/pos.svg');
  background-position: 12px 12px;
  background-repeat: no-repeat;
}
.debit-card-tab .tabs-left.pos.Mui-selected{
  background:#fff  url('../public/images/pos_active.svg');
  background-position:12px 12px;
  background-repeat: no-repeat;
}

.bar-code-container{
  background:#fff  url('../public/images/bar_code_bg.png') no-repeat;
}


.generalMsgInfo {
	padding: 10px;
	background: #fff0b3;
	border: 1px solid rgba(255, 213, 164, 0.5);
	color: #253858;
	font-size: 12px;
	border-radius: 6px;
	margin-bottom: 10px;
}

